<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
        <!--完整的 EZConnect 連線字串格式為 主機:連接埠/服務名稱
		    因此，參考tnsnames.ora文件中的LDBAXBOS2的定義
			完整連線名稱會是172.16.63.106:1521/xbos2-->
		<add name="OracleDbContext"    
			 connectionString="Data Source=172.16.63.106:1521/xbos2;User Id=xbosprod;Password=login123;"
			 providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>
</configuration>
